@import "~@angular/material/theming";

$active: blue;
$frame: gray;
$red: red;

.drag-cursor {
  margin-right: 16px;
  cursor: move;
}

table {
  width: 100%;
  //   .mat-row {
  //     &.selected {
  //       background-color: antiquewhite;
  //     }
  //   }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: greenyellow;
  width: 200px;
}

.cdk-drag-placeholder {
  background: map_get($mat-grey, 300);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
// tr.dragging {
//     .layout-item.selected:not(.cdk-drag-placeholder) {
//         background-color: yellow;
//         opacity: 0.7;

//         td {
//             border-color: rgba($frame, 0.2);
//         }
//     }
// }
