<mat-toolbar color="primary">
  <a routerLink="/">NgMaterialScaffold</a>

  <span class="example-fill-remaining-space"></span>

  <ng-container *ngIf="authService.loggedIn()">
    <button mat-button (click)="authService.logout()" color="secondary">
      Logout
    </button>
    <button mat-raised-button routerLink="/dashboard" color="accent">
      Dashboard
    </button>
  </ng-container>
  <a routerLink="/auth" *ngIf="!authService.loggedIn()"> <!--#elseBlock-->
    <mat-icon class="account_box">account_box</mat-icon>
  </a>
</mat-toolbar>
