<mat-card>
  <mat-card-header><h1 class="mat-h1">Signup</h1></mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="signup()" *ngIf="!authService.loggedIn()" novalidate fxLayout="column">
      <mat-form-field class="example-full-width form-group">
        <input matInput formControlName="email" type="email" name="email" id="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field class="example-full-width form-group">
        <input matInput formControlName="password" type="password" name="password" id="password"
               placeholder="Password">
      </mat-form-field>

      <button mat-raised-button type="submit"
              color="accent">Register
      </button>
    </form>

    <p *ngIf="authService.loggedIn()">You are logged in.</p>
  </mat-card-content>
</mat-card>
