<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  > <!-- [opened]="(opened | async)" -->
    <mat-toolbar style="padding-left: 0 !important" color="primary">
      <app-server-status></app-server-status>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/auth" *ngIf="!loggedIn()">Auth</a>
      <a mat-list-item routerLink="/admin" *ngIf="hasRole('admin')">Admin</a>
      <ng-container *ngIf="loggedIn()">
        <a mat-list-item routerLink="/secret-dashboard">Secret dashboard</a>
        <a mat-list-item routerLink="/auth/logout">Logout</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">ng-material-scaffold</a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
