<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    class="sidenav"
    fixedInViewport="true"
  >
    <!-- [opened]="(opened | async)" -->
    <mat-toolbar color="primary" style="padding-left: 0 !important">
      <app-server-status></app-server-status>
    </mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!loggedIn()" mat-list-item routerLink="/auth">Auth</a>
      <a *ngIf="hasRole('admin')" mat-list-item routerLink="/admin">Admin</a>
      <ng-container *ngIf="loggedIn()">
        <a mat-list-item routerLink="/secret-dashboard">Secret dashboard</a>
        <a mat-list-item routerLink="/auth/logout">Logout</a>
      </ng-container>
      <a mat-list-item routerLink="/dragndrop">Drag'n'Drop</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="toggle()"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/">ng-material-scaffold</a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
