@import '../node_modules/@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publicly released!

@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent: mat-palette($mat-amber, 800, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

a {
  color: whitesmoke /*$theme.primary*/
;
}

.m2app-dark {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent: mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
