<md-card class="example-card">
  <md-card-header>
    <md-card-title>Sample</md-card-title>
    <md-card-subtitle>Content</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>
      Realises in itself
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Forever</button>
    <button md-button>Without</button>
  </md-card-actions>
</md-card>

<md-card class="example-card">
  <md-card-header>
    <md-card-title>Causal</md-card-title>
    <md-card-subtitle>Link</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>
      Xor
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Framed</button>
    <button md-button>References</button>
  </md-card-actions>
</md-card>
