name: Angular build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Build
        run: |
          npm i -g npm
          npm i -g @angular/cli typescript
          npm ci
          ng build --configuration production
